.content {
  width: 90%;
  margin: auto;
}

@media (min-width: 1024px) {
  .content {
    width: 100%;
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  display: grid;
  grid-template-columns: 1fr;
  opacity: 0;
}

@media (min-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
