.card {
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.image {
  object-fit: cover;
}

.bodyCard h4 {
  margin-top: 0px;
}

.bodyCard .pricesContainer {
  margin: 0.6rem 0rem;
  font-weight: bold;
}

.bodyCard .ingredients {
  font-size: 16px;
  margin: 0px;
}

.bodyCard div {
  font-size: 16px;
}
