.card {
  width: 340px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease-in-out;

}

.card img {
  transition: all 0.4s ease-in-out;
}

.card img:hover {
  scale: 1.1;
}

.image {
  width: 340px;
  height: 180px;
  object-fit: cover;
}

/* .bodyCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  min-height: auto
} */

.bodyCard h4{
  margin-top: 0px;
}

.bodyCard p {
  margin: 0px;
}

.bodyCard .ingredients {
  margin-top: .8rem;
}

.bodyCard p {
  font-size: 16px;
}