@media (min-width: 1024px) {
  .hamburgerMenuIcon {
    display: none;
  }
}

.sidebarContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarTitle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.sidebarTitleText {
  margin: 0px !important;
  margin-bottom: 1rem !important;
}

.drawerMenu {
  border-radius: 10px;
  border: none !important;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
