body {
  margin: 0;
  padding: 0;
}

* {
  scroll-margin-top: 85px;
  scroll-behavior: smooth;
  /* font-size: 16px; */
}

:root {
  --background: white;
  --foreground: black;
  --maxWidth: 1300px;
  --primary-color: #e8013c;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
  --maxWidth: 1300px;
  --primary-color: #e8013c;
}

@media (min-width: 1024px) {
  .container {
    width: 95%;
    max-width: 1440px;
    margin: auto;
  }
}
