body {
  margin: 0;
  padding: 0;
}

* {
  scroll-margin-top: 85px;
  scroll-behavior: smooth;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}