.headerContainer {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  opacity: 0.9;
  margin-bottom: 20px;
  padding: 0 20px;
}

.navContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.navContainerOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbarLogo {
  display: flex;
  align-items: center;
}

.drawerContainer {
  border: none !important;
  border-radius: 10px;
  padding-bottom: 10px;
}

.headerButtonsContainer {
  display: none;
}
@media (min-width: 1024px) {
  .headerButtonsContainer {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .menuIcon {
    display: none;
  }
}
