.sidebarMenuContainer {
  border-radius: 10px;
  height: 50%;
  top: 5.2rem;
  z-index: 1;
  margin-right: 40px;
  display: none;
}
@media (min-width: 1024px) {
  .sidebarMenuContainer {
    display: inline-block;
  }
}

.sidebarTitle {
  text-align: center;
}

.menuContainer {
  border: 0px !important;
  border-radius: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
